

.nav {
    background-color: transparent;
    color: var(--primary-text);
    padding: .25rem 1rem;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav .site-title {
    color: var(--primary-text);
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    flex: 1;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15vw;
}

.nav li a {
    color: var(--secondary-text);
    text-decoration: none;
    padding: .5rem;
}

.nav li a.active {
    color: var(--primary-text);
}

.nav li a:hover {
    color: var(--accent-color-1);
}

.log-in-button {
    border: none;
    border-radius: 40px;
    width: 110px;
    height: 30px;
    background-color: var(--accent-color-1);
    color: var(--primary-text);
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
}

.log-in-button:hover {
    background-color: var(--accent-color-2);
}

.right-nav {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.theme{
    max-width: 25px;
    max-height: 25px;
}

svg path{
    fill: var(--primary-text);
}

svg:hover path {
    fill: var(--success-color);
}

svg:hover {
    cursor: pointer;
}

.scrolled {
    background-color: var(--tertiary-background);
}

.mobile-navbar {
    display: none;
}

.menu {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100vw;
    height: 0;
    background-color: var(--tertiary-background);
    opacity: 0;
    transition: height 200ms ease-in, opacity 200ms ease-in;
    pointer-events: none;
}

@media screen and (max-width: 760px) {
    .large {
        display: none;
    }
    
    .mobile-navbar {
        display: flex;
        flex-direction: column;
    }

    .menu-button {
        background-color: transparent;
        border: none;
    }

    .menu.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        height: 30rem;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .menu ul {
        padding: 0;
        margin: 5rem 0;
        list-style: none;
        flex-direction: column;
        text-align: center;
        gap: 0;
        align-items: center;
    }
    
    .menu ul a {
        color: var(--primary-text);
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 600;
        padding: 2rem;
        width: 80%;
    }

    .menu ul a.active {
        color: var(--primary-text);
    }
    
    .menu ul a:hover {
        color: var(--accent-color-1);
    }

    .top-side {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 1.5rem;
    }

    .menu-line {
        width: 80vw;
        height: 1px;
        background-color: var(--secondary-text);
        margin-left: 10vw;
    }

    .menu-features {
        border-top: var(--secondary-text) solid 2px;
        border-bottom: var(--secondary-text) solid 2px;
    }

    .toggle-menu {
        border: var(--secondary-text) 2px solid;
        border-radius: 10px;
        min-width: 40px;
    }

    .toggle-menu:hover {
        border: var(--success-color) 2px solid;
    }

    .toggle-menu path{
        stroke: var(--primary-text);
    }
}
